
#update-div {
background: linear-gradient(to right, #f52f2f, #eda724);
  padding: 4px;
  margin: 6px;
  border-style: solid 3px;
  border-radius: 4px;
  border-color: #f09a5d;
  border-left: solid 8px; 
}
#update-icon {
  padding: 0px; margin: 0px;
  border-style: solid 4px;
  border-radius: 5px; border-color: #f52f2f; }
#update-text { color: withe;
          text-shadow:4px;
             }



#update-date { color: black;
display: flex; gap: 37px; }